@font-face
{
    src: url("../../static/fonts/Retrograde-Regular.otf");
    font-family: 'Source Code Pro';
    font-weight: normal;
}

@font-face
{
    src: url("../../static/fonts/Proxima\ Nova\ Extrabold.otf");
    font-family: 'Proxima Nova';
    font-weight: 900;
}

.block {
    display: inline-block;
    width: 214px;
    height: 214px;
    max-width: 75vw;
    background: rgba(18, 168, 177, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.block:last-child
{
    margin-bottom: 0;
}

.header {
    font-size: 24px;
    padding-top: 32px;
    font-family: 'Proxima Nova';
    font-weight: 900;
    color: white; 
    letter-spacing: 0.05em;
    text-align: center;
}

.time {
    /* Remove padding for Netlify */
    /* padding-top: 28px; */
    font-size: 104px;
    color: white;
    font-family: 'Source Code Pro';
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 4px 24px rgba(16, 49, 75, 0.1);
}

/* Development Version */
/* @media (max-width: 768px)
{
    .block {
        display: inline-block;
        width: 140px;
        height: 140px;
    }

    .header {
        font-size: 20px;
        padding-top: 24px;
    }
    
    .time {
        font-size: 72px;
        padding-top: 18px;
    }
    
} */

/* Netlify Version */
@media (max-width: 768px)
{
    .block {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-left: 16px;
    }

    .header {
        font-size: 15px;
        padding-top: 10px;
    }
    
    .time {
        font-size: 50px;
    }
    
}
