@font-face
{
    src: url("../../static/fonts/ProximaNova-Bold.otf");
    font-family: 'Proxima Nova';
    font-weight: bold;
}

.container
{
    margin-right: 24px;
    margin-left: 24px;

}

.buttoncontainer{
    width: 100%;
}

.selectallbutton
{
    font-family: 'Proxima Nova';
    display: inline-block;
    font-weight: normal;
    color: #12A8B1;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    font-size: 14px;
    margin-right: 16px;
}

.selectallbutton:hover
{
    opacity: 0.9;
    transform: scale(1.1);
}


.deselectallbutton
{
    font-family: 'Proxima Nova';
    display: inline-block;
    font-weight: normal;
    color: #E86560;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out all;
}

.deselectallbutton:hover
{
    opacity: 0.9;
    transform: scale(1.1);
}

.backbutton{
    margin-top: 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 20%;
}

.backbutton:hover{
    opacity: 0.75;
}

.title{
    font-weight: bold;
    font-family: 'Proxima Nova';
    font-size: 14px;
    margin-top: 16px;
}
.selectioncontainer{
    float:right;
}

.radio_container{
    margin-top: 16px;
    font-size: 14px;
    font-family: 'Proxima Nova';
    margin-bottom: 22px;
}

.only_tag{
    margin-top: 15px;
}