.floatinglogo,
.floatinglogo:focus {
  position: absolute;
  top: 0;
  left: 0;
  margin: 40px;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-size: 100% 100%;
  z-index: 6;
}

.whiteLogo {
  background: url("../../images/Logo\ White.svg");
}

.colorLogo {
  background: url("../../images/Logo\ Color.svg");
}

@media (max-width: 768px) {
  .floatinglogo,
  .floatinglogo:focus {
    display: none;
  }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
  .floatinglogo,
  .floatinglogo:focus {
    margin-left: 20px;
    margin-top: 30px;
  }
}
