.floatinglogo, .floatinglogo:focus
{
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    width: 80px;
    height: 80.12px;
    outline: none;
    border: none;
    /* background-color: rgba(200, 0, 200, 0.5); */
    background:url("../../images/hd-logo.svg");
    background-size: 80px 80.12px;
    z-index: 6;
}

@media (max-width: 768px)
{
    .floatinglogo, .floatinglogo:focus
    {
        display: none;
    }
}