
@keyframes appear
{
    0% {right: max(-100%, -450px);}
    100% {right: 0;}
}

.modal
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}


.background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    z-index: 6;
}

.container
{
    position: absolute;
    height: 100vh;
    width: min(100%, 450px);
    right: 0;
    top: 0;
    background-color: white;
    z-index: 12;
    overflow: hidden;
    box-shadow: -2px 0px 10px 4px rgba(0, 0, 0, 0.25);
    animation: appear 0.4s ease-in-out;
    -webkit-animation: appear 0.4s ease-in-out;
}


.container_padding
{
    position: relative;
    padding: 10px;
    height: 100%;
}
