.modal
{
    min-width: 400px;
}

@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

.please_login
{
    font-family: 'Proxima Nova';
    font-weight: bold;
    padding: 40px;
    font-size: 18px;
    text-align: center;
}