@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

@font-face
{
    src: url("../../static/fonts/ProximaNova-Bold.otf");
    font-family: 'Proxima Nova';
    font-weight: bold;
}

.modal
{
    width: 27rem;
    height: 35rem;
    border: 2px solid red;
    overflow: hidden;
    font-family: 'Proxima Nova';
}

.title
{
    border: 2px solid blue;
    min-height: 3rem;
    margin: 1rem;
    margin-bottom: .5rem;
    text-align: center;
}

.applicationcontainer
{
    border: 2px solid red;
    min-height: 5rem;
    /* margin: 1rem; */
}

.teamfindercontainer
{
    border: 2px solid cyan;
    min-height: 13rem;
    /* margin: 1rem; */
}

.badgescontainer
{
    border: 2px solid yellow;
    min-height: 10rem;
    /* margin: 1rem; */
}

.modalsectiontitle
{
    font-weight: bold;
    margin-bottom: 3px;
}

.modalsectioncontent
{
    max-height: 150px;
    overflow-y: auto;
}

hr
{
    background-color: #C4C4C4;
    width: 100%;
}