.modal
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
}

.container
{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    left: 50vw;
    top: 50vh;
    transform: translate(calc(-50% - 7.5px),-50%);
    background-color: white;
    border-radius: 20px;
    z-index: 12;
}