@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

@font-face
{
    src: url("../../static/fonts/ProximaNova-Bold.otf");
    font-family: 'Proxima Nova';
    font-weight: bold;
}

.modal
{
    width: 25rem;
    height: 35rem;
    /* border: 2px solid red; */
    font-family: 'Proxima Nova';
}

.title
{
    /* border: 2px solid blue; */
    min-height: 3rem;
    margin: 1rem;
    margin-bottom: .5rem;
    text-align: center;
}

.applicationcontainer
{
    margin-top: 10px;
    /* border: 2px solid red; */
    min-height: 5rem;
    /* margin: 1rem; */
}

.teamfindercontainer
{
    /* border: 2px solid cyan; */
    position: relative;
    min-height: 13rem;
    /* margin: 1rem; */
}

.badgescontainer
{
    /* border: 2px solid yellow; */
    min-height: 10rem;
    /* margin: 1rem; */
}

.modalsectiontitle
{
    font-weight: bold;
    margin-bottom: 6px;
}

.modalsectioncontent
{
    position: relative;
    overflow-y: auto;
}

hr
{
    background-color: #C4C4C4;
    width: 100%;
}

.logout
{
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    color: white;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 100px;
    z-index: 5;
    transition: 0.2s ease-in-out all;
}

.logout:hover
{
    cursor: pointer;
    color: yellow;
    transform: scale(1.05);
}