.navbar
{
    position: relative;
}

.navbarcontainer
{
    font-size: 18px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: none;
}

div.underline
{
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -8px;
    left: 50%;
    width: 0%;
    display: block;
    border-bottom: 4px solid pink;
    transition: 0.2s ease-in-out width;
}

div.underline.selected
{
    width: 100%;
}

.navitem
{
    display: inline-block;
    position: relative;
    margin: 3vh;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

.navbutton, .navbutton:focus
{
    font-weight: bold;
    position: relative;
    width: 100%;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}