@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

.background
{
    height: 100vh;
    background-color: #FAFAFF;
    overflow-x:hidden;
}

.image
{
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    border: 0px;
    overflow: hidden;
}

.title
{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.description {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    opacity: 0;
}

.bottom_diagonal
{
    padding-top: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
	height: 0;
	border-bottom: 100px solid #0B2638;
    border-left: 100vw solid transparent;
}

@media (max-width: 768px)
{
    .bottom_diagonal
    {
        border-bottom: 40px solid #0B2638;
    }
    
    .background
    {
        height: fit-content;
        padding-bottom: 60px;
    }

    .social_good_container
    {
        margin-top: 40px;
    }
}

.social_good_container{
    opacity: 0;
}

.bottom_padding {
    padding-bottom: 10rem;
}


@keyframes slideinleft{
    0% {transform: translateX(-50%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}

.slideinleft{
    animation:slideinleft 1s forwards;
}

@keyframes slideinright {
    0% {transform: translateX(50%); opacity: 0; }
    100% {transform: translateX(0%);  opacity: 1;}
}

.slideinright{
    animation: slideinright 1s forwards;
}
