@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

@font-face
{
    src: url("../../static/fonts/Proxima\ Nova\ Alt\ Extrabold.otf");
    font-family: 'Proxima Nova';
    font-weight: 1000;
}

div.background
{
    height: 100vh;
    font-family: 'Proxima Nova';
    font-weight: 1000;
}

div.statscontainer
{
    color: black;
}

@media (max-width: 575px){
    div.statscontainer
    {
        margin-top: -240px;
    }
}

div.stats
{
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
}

@media (max-width: 575px){
    div.stats
    {
        font-size: 32px;
    }
}

/* div.viewWinner
{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-size: 40px;
    border: 2px solid blue;
    margin-top: 40px;
} */

.view_winner_button_container{
    width: 100%;
}

.view_winner
{
    margin-top: 30px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    color: white;
    background-color: #57B8BE;
    border-radius: 500px;
    cursor: pointer;
    font-weight: 1000;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out all;
}

@media (max-width: 575px){
    .view_winner
    {
        margin-top:-14px;
    }
}

.view_winner:hover
{
    opacity: 0.9;
    transform: scale(1.1);
}
.winnertext{
    font-family: 'Proxima Nova';
    font-style: normal;
    color:white;
    font-size: 16px;
    font-weight: 700;
}
a 
{
    /* modify anchor attributes and remove underline */
    color: black;
    text-decoration: none;
}

a:hover 
{
    /* remove underline */
    text-decoration:none;
}

.image_container
{
    overflow: hidden;
    border-radius: 50px;
}

.image
{
    width: 100%;
    height: auto;
}

.bottom_diagonal
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
	height: 0;
	border-bottom: 100px solid #FAFAFF;
    border-left: 100vw solid transparent;
}

@media (max-width: 768px)
{
    .bottom_diagonal
    {
        border-bottom: 40px solid #FAFAFF;
    }
}

.header_date{
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 30px;
}