@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

@font-face
{
    src: url("../../static/fonts/ProximaNova-Bold.otf");
    font-family: 'Proxima Nova';
    font-weight: bold;
}

/* Condensed bold font for "VIEW WINNERS"  */
@font-face
{
    src: url("../../static/fonts/Proxima Nova Alt Condensed Bold.otf");
    font-family: 'Proxima Nova';
    font-weight: 800;
}

@font-face
{
    src: url("../../static/fonts/SourceCodePro-Medium.ttf");
    font-family: 'Source Code Pro';
    font-weight: normal;
}

div.background
{
    background-color: lightblue;
    position: relative;
    height: 100vh;
    padding: 0;
}

div.landingContainer 
{
    border: 2px solid red;
    padding: 0;
    text-align: center;
    color:black;
}

div.title{
    font-family: 'Proxima Nova';
    font-size: 80px;
    font-weight: 500;
    color: #354142;
    border: 2px solid blue;
    padding:0;
}

.boldTitle
{
    font-weight: bold;
}

.typedtext
{
    font-family: Source Code Pro;
    font-size: 30px;
    color: #354142;
    display: inline-block;
}

.typedcontainer
{
    font-size: 30px;
}

@media (max-width: 768px)
{
    div.title
    {
        font-size: 60px;
    }
    
    .typedtext, .typedcontainer
    {
        font-size: 20px;
    }

}

div.sponsorImage {
    margin-top: 1rem;
    position: relative;
    height: 1rem;
    background-color: gray;
    visibility: hidden;
}

div.buttoncontainer
{
    margin-top: 1rem;
    font-size: 2rem;
}

div.buttoncontainer > button
{
    margin: 1rem;
    width: 9rem;
    height: 2.5rem;
    font-family: Proxima Nova;
    background-color: blue;
    border-radius: 50px;
    border: 0px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}