@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

.background{
    background-color: #0B2638;
    min-height: 65vh;
    font-family: 'Proxima Nova';
    color: #FFFFFF;
}

.headerText {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 575px){
    .headerText
    {
        margin-bottom: 2.5rem;
    }
}

.imageStyle {
    margin-bottom: 4rem;
    height: auto;
    width: 100%;
    padding: 20px;
    user-select: none;
    cursor: pointer;
    transition: transform .5s;
}

.imageStyle_twilio{
    width:100%;
    height:auto;
    margin-bottom: 4rem;
    user-select: none;
    cursor: pointer; 
    transition:transform 0.5s;
    transform: scale(0.75, 0.75);
}

.imageStyle_twilio:hover {
    transform: scale(0.9);
}


@media (max-width: 575px){
    .imageStyle
    {
        width: 100%;
        margin-bottom: 3.5rem;
    }
}

.imageStyle:hover {
    transform: scale(1.10);
}

.smallImageStyle {
    margin-bottom: 1.5rem;
    height: auto;
    width: 100%;
    padding: 16px;
    user-select: none;
    cursor: pointer;
    transition: transform .5s;
}

@media (max-width: 575px){
    .smallImageStyle
    {
        width: 100%;
    }
}

.smallImageStyle:hover {
    transform: scale(1.10);
}