@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

@font-face
{
    src: url("../../static/fonts/Retrograde-Regular.otf");
    font-family: 'Retrograde';
    font-weight: normal;
}


div.background
{
    /* background-color: #E2EFDD; */
    position: relative;
    display: block;
    min-height: 100%;
    height: fit-content;
    width: 100%;
}

div.statscontainer
{
    border: 2px solid red;
    color: black;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 46%;
    right: 24%;
    padding:0;
    max-width: 90%;
    transform: translateY(-50%);
}
div.stats
{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 66px;
}
div.viewWinner
{
    position: absolute;
    font-family: 'Proxima Nova';
    font-style: normal;
    line-height:37px;
    font-size: 30px;
    font-weight: 800;
    width: fit-content;
    height: fit-content;
    border: 2px solid blue;
    margin-top: 69px;
}

div.cloud
{
    position: absolute;
    left:0.05%;
    right: 53.48%;
    top:52.6%;
    bottom: 38.64%;
}

a 
{
    /* modify anchor attributes and remove underline */
    color: black;
    text-decoration: none;
}

a:hover 
{
    /* remove underline */
    text-decoration:none;
}

@media screen and (max-width: 800px) 
{
    div.background
    {
        font-size: 2.5rem;
    }
    
    div.statscontainer
    {
        left: 1rem;
    }
}