@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

.background
{
    height: 100vh;
    background-color: #FAFAFF;
}

.image
{
    width: 100%;
    height: auto;
}

.title
{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.description {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: 2px solid red;
    line-height: 30px;
}

.social_good_container{
    border: 2px solid orange;
    border-radius: 50px;
    overflow: hidden;
}

.bottom_diagonal
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
	height: 0;
	border-bottom: 100px solid #0B2638;
    border-left: 100vw solid transparent;
}

@media (max-width: 768px)
{
    .bottom_diagonal
    {
        border-bottom: 40px solid #0B2638;
    }
}