@font-face
{
    src: url("../../static/fonts/ProximaNova-Regular.otf");
    font-family: 'Proxima Nova';
    font-weight: normal;
}

.background{
    background-color: #0B2638;
    min-height: 100vh;
    font-family: 'Proxima Nova';
    color: #FFFFFF;
}

.headerText {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 40px;
    font-weight: 700;
}

.labelText {
    font-size: 24px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.imageStyle {
    height: auto;
    width: 75%;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    transition: transform .5s;
}

.imageStyle:hover {
    transform: scale(1.25);
}